#beingreviewed {
	background-color: $hugo-pink;
	color:white;
	position:absolute;
	left:40px;
	top:20px;
	transform:rotate(-10deg);
	font-weight:bold;
	width:200px;
	font-size:24px;
	padding:6px;
	z-index:9999;
	overflow:visible;
	text-align:center;
	border-radius:15px;
	@include card(5);
}

// .twitter-tweet-rendered {
// 	display:block;
// 	margin-left:auto;
// 	margin-right:auto;
// }