{{ range $i, $e := .Modules -}}
  {{ printf "import { %s as Mod%d } from %q;" .CallbackExport $i .ImportPath }}
{{ end -}}
{{ range $i, $e := .Callbacks }}
  {{ $id := printf "Callback%d" $i }}
  import { default as {{ $id }} } from "{{ . }}";
{{ end }}
{{/*  */}}
let mods = [];
{{ range $i, $e := .Modules -}}
  mods.push({{ .CallbackJSON $i }});
{{ end -}}
{{/*  */}}
{{ range $i, $e := .Callbacks }}
  {{ $id := printf "Callback%d" $i }}
  {{ $id }}(mods);
{{ end }}
