{{ range $i, $e := .Modules -}}
  import { {{ printf "% as Mod%d" .CallbackExport $i }} } from
  "{{ .ImportPath }}";
{{ end -}}
{{ range $i, $e := .Callbacks }}
  {{ $id := printf "Callback%d" $i }}
  import { default as {{ $id }} } from "{{ . }}";
{{ end }}
{{/*  */}}
let mods = [];
{{ range $i, $e := .Modules -}}
  mods.push({{ .CallbackJSON $i }});
{{ end -}}
{{/*  */}}
{{ range $i, $e := .Callbacks }}
  {{ $id := printf "Callback%d" $i }}
  {{ $id }}(mods);
{{ end }}
