# Ignore all SVG icons.
**/icons.html

# These are whitespace sensitive.
layouts/_default/_markup/render-code*
layouts/_default/_markup/render-table*
layouts/shortcodes/glossary-term.html
layouts/shortcodes/glossary.html
layouts/shortcodes/highlighting-styles.html

# No root node.
layouts/partials/layouts/head/head.html

# Auto generated.
assets/css/components/chroma*.css
assets/jsconfig.json
