# Ignore all SVG icons.
**/icons.html

# These are whitespace sensitive.
layouts/_markup/render-code*
layouts/_markup/render-table*
layouts/_shortcodes/glossary-term.html
layouts/_shortcodes/glossary.html
layouts/_shortcodes/highlighting-styles.html
layouts/_shortcodes/list-pages-in-section.html
layouts/_shortcodes/quick-reference.html

# No root node.
layouts/_partials/layouts/head/head.html

# Auto generated.
assets/css/components/chroma*.css
assets/jsconfig.json
