# See https://github.com/blog/2392-introducing-code-owners

# These owners will be the default owners for everything in the repo.
*				@bep

tpl/*			@moorereason @bep
docs/*			@digitalcraftsman
snapcraft.yaml	@anthonyfok
Dockerfile		@anthonyfok
i18n/* 			@bogem