[build]
  publish = "public"
  command = "hugo --gc --minify"

  [build.environment]
    HUGO_VERSION = "0.143.1"

[context.production.environment]
  HUGO_ENV           = "production"
  HUGO_ENABLEGITINFO = "true"

[context.split1]
  command = "hugo --gc --minify --enableGitInfo"

  [context.split1.environment]
    HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL --enableGitInfo"

[context.branch-deploy]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.next.environment]
  HUGO_ENABLEGITINFO = "true"

[[headers]]
  for = "/*.jpg"

  [headers.values]
    Cache-Control = "public, max-age=31536000"

[[headers]]
  for = "/*.png"

  [headers.values]
    Cache-Control = "public, max-age=31536000"

[[headers]]
  for = "/*.css"

  [headers.values]
    Cache-Control = "public, max-age=31536000"

[[headers]]
  for = "/*.js"

  [headers.values]
    Cache-Control = "public, max-age=31536000"

[[headers]]
  for = "/*.ttf"

  [headers.values]
    Cache-Control = "public, max-age=31536000"
