<!-- <script src="https://use.typekit.net/bmc1jgv.js"></script>
<script>try{Typekit.load({ async: false });}catch(e){}</script> -->
{{if .Site.Params.usefontawesome}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{end}}
{{- if .Site.Params.usecrp -}}<style>{{- print (partial "style-embed.html" .) | safeCSS -}}</style>
{{- else -}}<link rel="stylesheet" href="{{ "css/style.min.css" | relURL}}">{{- end -}}
