#site-footer {
  background-color: $site-footer-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 1em;
  @include MQ(M) {
    flex-direction: row;
  }
  @include MQ(L) {
    width:calc(100% - #{$site-navigation-width});
    margin-left: $site-navigation-width;
    height: $site-footer-height-l-plus;
  }
  // @include MQ(XL) {
  //   &.withtoc {
  //     max-width:calc(100vw - #{$site-navigation-width * 2});
  //   }
  // }
}

.footer-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: $hugo-white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width:$M;
  .footer-info {
    width: 100%;
    @include MQ(M) {
      width: 200px;
    }
  }
  img {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  @include MQ(M) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    div {
      min-width: 120px;
      // width: 50%;
      // max-width: 50%;
    }
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $hugo-white;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  max-width: auto;
  margin-right: 2em;
  margin: 0px;
  flex-wrap: wrap;
  ul {
    list-style: none;
    li a {
      color: $hugo-white;
      font-size: .8em;
    }
  }
}

#site-footer.homepage {
  width: 100vw;
  margin-left: 0px;
}
