.site-navigation::-webkit-scrollbar {
  display: none;
}

.site-navigation {
  transition: transform .3s ease-in-out;
  position: fixed;
  left: 0px;
  top: 0px;
  width: $site-navigation-width;
  bottom: 0px;
  overflow-y: scroll;
  background-color: $site-navigation-bg-color;
  transform:translateX(-#{$site-navigation-width});
  padding: 0px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::-webkit-scrollbar {
    display:none;
  }
  &.navigation-open {
    transition: transform .3s ease-in-out;
    transform: translateX(0px);
  }
  @include MQ(L) {
    transform: translateX(0px);
  }
  ul li a {
    display: flex;
  }
  ul.top-menu {
    margin-top: $site-header-height + 30px;
    // display: inline-block;
    width: 85%;
    @include MQ(L) {
      margin-top: $site-header-height + 10px;
    }
    a {
      color: $base-font-color;
      font-weight: $base-font-weight;
      width: 100%;
      &:hover {
        color: $hugo-pink;
      }
    }
    li {
      padding-left: 0px;
      line-height: 1.2;
      padding-top: .75em;
      ul li {
        padding-left: .3em;
      }
    }
    a.top-menu-item-link {
      font-size: 16px;
      width: 100%;
      i.fa.fa-angle-double-right {
        margin-left: .25em;
      }
      &.active-section {
        color: $hugo-pink;
        // border-bottom: 1px solid $active-color;
        font-weight: 700;
        + ul.submenu {
          display: block;
          border-left: 2px solid $hugo-pink;
        }
      }
    }
    ul.submenu {
      display: none;
      margin-left: .2em;
      padding-left: .5em;
      padding-bottom: .66em;
      li {
        line-height: 1.3;
      }
      a.submenu-item-link {
        font-size: 14px;
        &:hover {
          color: $hugo-blue;
        }
        &.active-page {
          font-weight: 700;
          color: $hugo-blue;
          > code {
            color: $hugo-blue;
            > em {
              font-style: normal;
              family: $base-font-family;
            }
          }
        }
      }
    }
  }
}

.nav-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  a {
    margin-bottom: .5em;
    display: inline-block;
    width: 200px;
    max-width: 200px;
    position: relative;
    font-size: .9em;
  }
}

.navigation-toggle-wrapper {
  width: 50px;
  height: 50px;
  /*border:1px solid red;*/
  position: fixed;
  top: 2px;
  left: 0px;
  z-index: 20;
  h4.menu {
    display: inline-block;
    position: absolute;
    bottom: -1em;
    left: .8em;
    color: $hugo-blue;
    display: none;
  }
  @include MQ(L) {
    display: none;
  }
}

.navigation-toggle-wrapper.navigation-open .top {
  transform: rotate(45deg);
  top: 40%;
  border-radius: 5px;
  background-color: $hugo-pink;
  border-color: $hugo-pink;
}

.navigation-toggle-wrapper.navigation-open .middle {
  width: 40px;
  height: 40px;
  top: 4%;
  border-radius: 50%;
  background-color: $hugo-pink;
  border-color: $hugo-pink;
  opacity: 0.3;
}

.navigation-toggle-wrapper.navigation-open .bottom {
  transform: rotate(-45deg);
  top: 40%;
  border-radius: 5px;
  background-color: $hugo-pink;
  border-color: $hugo-pink;
}

.bar {
  width: 40px;
  height: 2px;
  border: 2px solid $hugo-blue;
  background-color: $hugo-blue;
  position: absolute;
  border-radius: 10px;
  &.navigation-open {
    background-color: $hugo-pink;
    border: 2px solid $hugo-pink;
  }
}

.top {
  left: 15%;
  top: 20%;
  transition: all 0.5s;
}

.middle {
  left: 15%;
  top: 40%;
  transition: all 0.5s;
}

.bottom {
  left: 15%;
  top: 60%;
  transition: all 0.5s;
}
