.site-header {
  width: 100%;
  height: $site-header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: $hugo-white;
  color: $hugo-black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  @include card(1);
  @include MQ(L) {
    justify-content: space-between;
  }
  .hugo-meta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include MQ(L) {
      float: left;
      width: auto;
      justify-content: flex-start;
      // max-width: 200px;
    }
  }
  #home-link {
    display: flex;
    align-items: center;
    font-size: .8em;
    margin-left: 1.5em;
    img {
      height: $site-header-height * .7;
      margin-right: .25em;
    }
    .hugo-v {
      align-self: flex-end;
      font-size: .9em;
    }
  }
  a.github-button {
    display: none;
    @include MQ(M) {
      display: inline;
    }
  }
  //github buttons in site-header
  iframe[src^="https://buttons.github.io"] {
    display: none;
    @include MQ(M) {
      display: inline;
    }
    margin-left: 1em;
  }
}
