@import "variables";
@import "dropdown";
@import "searchbox";

$searchbox: true!default;

@if($searchbox == true){
  @include searchbox($searchbox-config...);
}

@include dropdown($dropdown-config...);
