.all-content-wrapper.home {
  background-color: lighten($hugo-blue-light, 50%);
  overflow-x: hidden;
  @include MQ(L) {
    display: flex;
    flex-direction: column;
  }
}

main#homepage.main {
  width: 90%;
  margin-bottom: 2.5em;
  overflow-x: hidden;
  @include MQ(M) {
    max-width:calc(100vw - #{$site-navigation-width});
  }
  @include MQ(L) {
    // max-width:calc(100vw - #{$site-navigation-width});
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  @include MQ(XL) {
    // max-width:calc(100vw - #{$site-navigation-width});
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  // @include MQ(M) {
  //   max-width: $M * .9;
  // }
  // @include MQ(L) {
  //   margin-left:auto;
  //   margin-right:auto;
  //   max-width: 860px * .9;
  // }
}

.homepage-image {
  display: block;
  margin: 1em auto;
  max-width: 200px;
  img {
    max-width: 200px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}

.homepage-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 0;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  .homepage-card {
    @include card(1, 3);
    color: inherit;
    width: 100%;
    background-color: $body-bg-color;
    margin-bottom: .5em;
    padding: 16px 10px;
    flex-shrink: 0;
    a {
      display: flex;
      min-height: 100%;
    }
    @include MQ(M) {
      flex: 1 0 #{$M * .4};
      max-width: 48%;
      margin-bottom: 1em;
    }
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .homepage-card-image-wrapper {
      max-width: 60px;
      min-width: 60px;
      margin-right: 10px;
      img {
        max-width: 60px;
        margin-left: auto;
        margin-right: auto;
      }
      @include MQ(M) {
        max-width: 70px;
        min-width: 70px;
        img {
          max-width: 70px;
        }
      }
    }
    h2 {
      font-size: 1em;
      margin: 0px;
      line-height: 1.1;
      margin-bottom: .5em;
      padding-bottom: 0px;
      padding-top: 0px;
      color: $base-font-color;
    }
    p {
      font-size: .8em;
      line-height: 1.3;
      margin-bottom: 0px;
      color: lighten($base-font-color, 20%);
    }
  }
  // @include MQ(L) {
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
