button,
a[role="button"] {
  background-color: $base-button-color;
  color: $base-button-text-color;
  border: none;
  outline: none;
  border-radius: $button-border-radius;
  padding: .25em .5em;
  font-size: 1em;
  box-shadow: none;
  text-align: center;
  @include card(1, 3);
  &[class^="icon-"]:before {
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: .3em;
  }
  &.icon-forum:before {
    content: '\f086';
  }
  &.icon-mailing-list:before {
    content: '\f0e0';
  }
}
