button,
a[role="button"] {
  background-color: $base-button-color;
  color: $base-button-text-color;
  border: none;
  outline: none;
  border-radius: $button-border-radius;
  padding: .25em .5em;
  font-size: 1em;
  box-shadow: none;
  text-align: center;
  @include card(1, 3);
}
