.all-contents {
  border-top: 1px solid $hugo-blue;
  padding-top:1em;
}

.contents-list {
  box-shadow: none;
  background-color: transparent;
  color: $base-font-color;
  border-bottom: 1px solid $hugo-gray-light;
  margin-bottom: 1em;
  position: relative;
  font-size: .95em;
  a {
    width: 100%;
    color: $base-font-color;
    &:before,
    &:after,
    &:hover {
      background-color: transparent;
      border: none;
      color: $base-font-color;
    }
  }
  h3 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  p {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.taxonomy-term {
  font-size: 1.3em;
  display: inline-block;
  width: auto;
  clear: both;
}

.list-icon {
  display: flex;
  align-items: center;
}

.list-icon-wrapper {
  max-width: 1em;
  max-height: 1em;
  margin-right: .2em;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
