svg.svg-icon {
  max-width: 60px;
}

.icon-freebsd:before {
  @include size(1em);
  content: '';
  display: inline-block;
  margin-left: -.15em;
  margin-right: 0em;
  background-image: url(/images/hugo-icons/freebsd.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: .2em;
}

.icon-freebsd.white:before {
  background-image: url(/images/hugo-icons/freebsd-white.svg);
}

//for template lookup yes/no/na (e.g., in single-page template [/templates/single-page-template/])
span.yes {
  code {
    color: $hugo-white;
    background-color: $hugo-green;
  }
}

span.no {
  code {
    background-color: $hugo-pink;
    color: $hugo-white;
  }
}

span.no,
span.bad {
  &:after {
    display: inline-block;
    @include size(1em);
    font-family: 'FontAwesome';
    content: '\f165';
    margin-left: .5em;
    font-size: 1.2em;
    color: $hugo-pink;
  }
}

span.yes,
.good {
  &:after {
    display: inline-block;
    @include size(1em);
    font-family: 'FontAwesome';
    content: '\f164';
    color: $hugo-green;
    margin-left: .5em;
    font-size: 1.2em;
  }
}

span.break {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: auto;
  left: calc(50% - 40px);
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: .2em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: .666em;
    width: 140px;
  }
  &:before {
    right: 100%;
    margin-right: .5em;
  }
  &:after {
    left: 100%;
    margin-left: .5em;
  }
}

span.na {
  code {
    background-color: transparent;
    color: lighten($base-font-color, 60%);
  }
}

//for lists that show good and bad examples
h2,
h3,
h4,
li {
  .fa.fa-thumbs-up {
    color: $hugo-green;
  }
}

h2,
h3,
h4,
li {
  .fa.fa-thumbs-down {
    color: $hugo-pink;
  }
}
