//clear nav lists
nav,
aside {
  ul,
  ol {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    text-indent: 0px;
    li {
      position: relative;
      margin-left: 0px;
      padding-left: 0px;
      list-style: none;
    }
  }
}

//sets list style in body copy
.body-copy {
  ul,
  ol {
    padding-left: .75em;
    margin-left: .5em;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 1.5em;
    li {
      position: relative;
      margin-top: .25em;
      ul,
      ol {
        margin-bottom: 0px;
      }
    }
  }
  ul {
    list-style: disc outside none;
    li {
      ul {
        list-style-type: circle;
        li {
          ul {
            list-style-type: square;
          }
        }
      }
    }
  }
  ol {
    li {
      ol {
        list-style-type: lower-roman;
        li {
          ol {
            list-style-type: lower-alpha;
          }
        }
      }
    }
  }
}

//definition lists
.body-copy {
  dl {
    margin: 0px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
    clear: both;
    line-height: 1.6;
    padding: {
      top: .5em;
      bottom: .5em;
    }
    dt {
      float: left;
      display: block;
      width: 100%;
      clear: both;
      margin: 0px;
      font-weight: bolder;
      margin-right: 1em;
      // background-color:$hugo-gray-ultra-light;
      code {
        font-size: .9em;
        // color:$hugo-pink;
      }
      //basically allows you to style with ***word*** in markdown for words like "Required"
      > strong > em > code {
        // color: $hugo-pink;
        font-style: normal;
        position: relative;
        &:after {
          display: inline-block;
          position: relative;
          font-family: 'FontAwesome';
          content: '\f06a';
          font-size: .9em;
          top: -.6em;
          right: 0px;
          margin-right: -.5em;
          color: $hugo-pink;
        }
      }
    }
    dd {
      margin: .5em 0em 0em 0em;
      text-indent: 0px;
      height: auto;
      font-size: 1em;
      padding: {
        top: .25em;
        bottom: 0em;
        left: 1.5em;
        right: 0em;
      }
      strong > code {
        color: $hugo-green;
      }
      strong:first-child > code {
        color: $hugo-blue;
      }
    }
  }
}

.body-copy {
  ol > li > del {
    color: $hugo-pink;
    &:after {
      display: inline-block;
      @include size(1em);
      font-family: 'fontello';
      content: '\e810';
      margin-left: .5em;
      font-size: 1.2em;
      color: $hugo-pink;
    }
  }
}

//for Hugo's native support of Github-flavored task list synax
.body-copy {
  .task-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    li {
      list-style: none;
      // padding-left:0px;
      // margin-left:0px;
    }
  }
}
