aside#toc {
  transition: transform .3s ease-in-out;
  position: fixed;
  top: $site-header-height;
  transform: translateX(100%);
  background-color: $body-bg-color;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 280px;
  @include card(1);
  header.toc-header {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
    > a {
      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 8px;
        padding-bottom: 0px;
        border-bottom: 1px solid $base-font-color;
        color: $base-font-color;
        font-size: 17px;
      }
    }
  }
  &.toc-open {
    transition: transform .3s ease-in-out;
    transform: translateX(0%);
    z-index: 99;
  }
  .toc-inner-wrapper {
    position: relative;
    min-height: auto;
    max-height: calc(100vh - #{$site-header-height});
    overflow-y: scroll;
  }
  @include MQ(XL) {
    .toc-inner-wrapper {
      position: relative;
      min-height: calc(100vh - #{$site-header-height} - #{$site-footer-height-l-plus});
      max-height: calc(100vh - #{$site-header-height});
    }
    box-shadow: none;
    top: $site-header-height;
    right: 0px;
    bottom: auto;
    opacity: 1;
    min-height: calc(100vh - #{$site-header-height} - #{$site-footer-height-l-plus});
    max-height: calc(100vh - #{$site-header-height} - #{$site-footer-height-l-plus});
    // transform: scale(1);
    transform: translateX(0%);
    border-radius: 0px;
    margin-right: 1.5em;
    z-index: 1;
    &.toc-open {
      z-index: 1;
    }
  }
}

nav#TableOfContents {
  position: relative;
  // margin-bottom: 20px;
  height: auto;
  // overflow-y: scroll;
  li code {
    font-family: $base-font-family;
  }
  li.active > a > code {
    color: inherit;
    font-weight: inherit;
    font-family: $base-font-family;
  }
  > ul:first-child {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: .5em;
    margin-bottom: 1em;
    > li {
      padding-left: 0px;
      margin-left: 0px;
      font-size: 18px;
    }
  }
  ul > li > ul {
    li {
      line-height: 1.2;
      font-size: 16px;
      padding-left: 8px;
      position: relative;
      margin-top: .5em;
      margin-bottom: .5em;
      a {
        color: $base-font-color;
        position: relative;
        @include MQ(L) {
          &:hover {
            color: $hugo-pink;
            &::before {
              content: '';
              display: inline-block;
              height: 100%;
              border-left: 1px solid $hugo-pink;
              position: absolute;
              left: -8px;
            }
            code {
              color: inherit;
            }
          }
        }
      }
      &.active {
        > a {
          position: relative;
          color: $hugo-pink;
          font-weight: 400;
          &::before {
            content: '';
            display: inline-block;
            height: 100%;
            border-left: 2px solid $hugo-pink;
            position: absolute;
            left: -8px;
          }
        }
      }
      > ul {
        display: block;
        // display: none;
        margin-top: 8px;
        margin-bottom: 0px;
        > li {
          font-size: 14px;
          a {
            @include MQ(L) {
              &:hover {
                color: $hugo-blue;
                &::before {
                  content: '';
                  display: inline-block;
                  height: 100%;
                  border-left: 1px solid $hugo-blue;
                  position: absolute;
                  left: -16px;
                }
              }
            }
          }
          &.active {
            > a {
              color: $hugo-blue;
              font-weight: 400;
              &::before {
                border-left: 2px solid $hugo-pink;
                left: -16px;
              }
            }
          }
        }
      }
    }
  }
}

// Kebab styling
.kebab {
  cursor: pointer;
  position: fixed;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
  right: 4px;
  .figure {
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: $hugo-blue;
    margin: 3px 0;
    &.middle {
      transition: all 0.3s ease-in-out;
      transform: scale(1);
      position: relative;
      font-weight: 400;
      left: 0%;
      &.active {
        transform: scale(6.5);
        transition: all 0.3s ease-in-out;
        background: transparent;
      }
    }
  }
  @include MQ(XL) {
    display: none;
  }
}

.cross-wrapper {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: $base-font-family;
  background-color: $hugo-pink;
  color: white;
  border-radius: 50%;
  @include size(40px);
  transition: all 0.3s ease-in-out;
  font-size: 34px;
  line-height: 40px;
  vertical-align: middle;
  user-select: none;
  text-align: center;
}

.cross-wrapper.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s ease-in-out;
}
