<div
  class="group relative flex h-12"
  x-data
  @click="$dispatch('search-toggle')">
  <svg
    class="pointer-events-none sm:absolute left-4 top-0 h-full w-5 fill-slate-400 dark:fill-slate-500">
    <use href="#icon--search"></use>
  </svg>
  <input
    class="flex-auto hidden sm:block appearance-none bg-transparent pl-12 text-slate-900 outline-none placeholder:text-slate-400 focus:w-full focus:flex-none sm:text-sm dark:text-white [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden [&::-webkit-search-results-button]:hidden [&::-webkit-search-results-decoration]:hidden"
    placeholder="Search the Docs..." />
</div>
