
/* muli-600normal - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('/files/muli-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Muli SemiBold '),
    local('Muli-SemiBold'),
    url('/files/muli-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/files/muli-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/files/muli-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/files/muli-latin-600.svg#muli') format('svg'); /* Legacy iOS */
}

/* muli-600italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  src: url('/files/muli-latin-600italic.eot'); /* IE9 Compat Modes */
  src:
    local('Muli SemiBold italic'),
    local('Muli-SemiBolditalic'),
    url('/files/muli-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/files/muli-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/files/muli-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('/files/muli-latin-600italic.svg#muli') format('svg'); /* Legacy iOS */
}
