/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
  @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Center element horizontally within parent element; **note:** does not take parameters
/// @access public
/// @example scss - Usage
///   div.center-block {
///     @include automarg;
///   }
/// @example css - CSS Output
///   div.center-block {
///     margin-right: auto;
///     margin-left: auto;
///   }
///
@mixin margauto {
  margin-right: auto;
  margin-left: auto;
}

/// Center element horizontally within parent element; **note:** does not take parameters
/// @access public
/// @example scss - Usage
///   div.keep-in-middle {
///     @include center;
///   }
/// @example css - CSS Output
///   div.keep-in-middle {
///     display:block;
///     margin-right: auto;
///     margin-left: auto;
///   }
///
@mixin center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/// Will center the element vertically, horizontally, or both (default). Note that element will be centered in relation to nearest `position: relative;` parent element.
/// @access public
/// @param {Bool} $horizontal [true]
///   Center the element horiztonally
/// @param {Bool} $vertical [true]
///   Center the element vertically
/// @example scss - Usage
///   div.centered {
///    @include centerer;
///   }
///
/// @example css - CSS Output
///   div.centered {
///     position:absolute;
///     top: 50%;
///     left: 50%;
///     transform: translate(-50%, -50%);
///   }
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  }
  @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// @mixin card ($bgcolor: $body-bg-color) {
//   box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
//   transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
//   background-color: $bgcolor;
//   &:hover {
//     transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
//     box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 9pt rgba(0, 0, 0, .22);
//   }
// }
@mixin card($level: 1, $hover:null) {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  @if $level==1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if $level==2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @else if $level==5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  @if $hover==2 {
    &:hover {
      transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  @if $hover==3 {
    &:hover {
      transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
  @if $hover==4 {
    &:hover {
      transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
  @if $hover==5 {
    &:hover {
      transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
}

@mixin flexlist($minheight: 6em, $gutter: 0px, $bgcolor: white) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: $minheight;
    margin-bottom: $gutter;
    background-color: $bgcolor;
    a {
      color: inherit;
    }
  }
}

@mixin flexlistlayout( $layout: onethreetwo, $justify: space-between, $bgcolor: $body-bg-color, $gutter: 0px) {
  @if $layout=="onethreetwo" {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
    li {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;
      margin-bottom: $gutter;
      background-color: $bgcolor;
    }
    @include MQ(M) {
      li:first-child,
      li:last-child {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }
      li:not(:first-child) {
        width:calc(50% - #{$gutter}/2);
        max-width:calc(50% - #{$gutter}/2);
      }
    }
    @include MQ(L) {
      li:not(:first-child) {
        width: calc(33.333% - #{$gutter} * .666666);
        max-width: calc(33.333% - #{$gutter} * .666666);
      }
      li:nth-of-type(5),
      li:nth-of-type(6) {
        min-width: calc(50% - #{$gutter}/2);
        width: calc(50% - #{$gutter}/2);
        max-width: calc(50% - #{$gutter}/2);
      }
    }
  }
  @else if $layout=="onetwofour" {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
    li {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px;
      padding: 0px;
      margin-bottom: $gutter;
      background-color: $bgcolor;
    }
    @include MQ(M) {
      li:first-child {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }
      li:not(:first-child) {
        width:calc(50% - #{$gutter}/2);
        max-width:calc(50% - #{$gutter}/2);
      }
    }
    @include MQ(L) {
      li:not(:first-child) {
        width: calc(33.333% - #{$gutter} * .666666);
        max-width: calc(33.333% - #{$gutter} * .666666);
      }
      li:nth-of-type(5),
      li:nth-of-type(6) {
        min-width: calc(50% - #{$gutter}/2);
        width: calc(50% - #{$gutter}/2);
        max-width: calc(50% - #{$gutter}/2);
      }
    }
  }
}

// BUTTON MIXINS
@mixin darkbutton($width:auto, $bgcolor:$button-dark-color, $transform:uppercase) {
  transition: all .3s ease-in-out;
  display: block;
  border: 1px solid white;
  padding: .25em .5em;
  color: white;
  width: $width;
  text-transform: $transform;
  border-radius: $button-border-radius;
  font-family: $button-font-family;
  &:hover {
    color: $button-dark-color;
    background-color: $white;
  }
}

@mixin lightbutton($width:auto, $bgcolor:$button-light-color, $transform:uppercase) {
  transition: all .3s ease-in-out;
  display: block;
  padding: .25em .5em;
  color: $base-font-color;
  width: $width;
  text-transform: $transform;
  border-radius: $button-border-radius;
  font-family: $button-font-family;
}

@mixin herobg($minheight:10em, $darkbg:false) {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: $minheight;
  height: $minheight;
  min-width: 100%;
  width: 100%;
  width: 100vw;
  position: relative;
  @if $darkbg {
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

@mixin fullscreen() {
  min-height: 100%;
  min-height: 100vh;
  height: 100%;
  height: 100vh;
  max-height: 100%;
  max-height: 100vh;
  min-width: 100%;
  min-width: 100vw;
  width: 100%;
  width: 100vw;
  max-width: 100%;
  max-width: 100vw;
}

@mixin base-transition($target:all, $time:$base-transition-time, $type:ease-in-out) {
  transition: $target $time $type;
}

//Font mixin
@mixin fonts($font: null, $path: '/fonts', $weights: 100 200 300 400 500 600 700 800 900, $woff2: true, $italic: true) {
  @each $weight in $weights {
    @font-face {
      font-family: "#{$font}";
      @if $woff2 {
        src: url('#{$path}/#{$font}/#{$font}-#{$weight}-webfont.woff2') format('woff2'),
        url('#{$path}/#{$font}/#{$font}-#{$weight}-webfont.woff') format('woff'),
        url('#{$path}/#{$font}/#{$font}-#{$weight}-webfont.ttf') format('truetype');
      }
      @else {
        src: url('#{$path}/#{$font}/#{$font}-#{$weight}-webfont.woff') format('woff'),
        url('#{$path}/#{$font}/#{$font}-#{$weight}-webfont.ttf') format('truetype');
      }
      font-weight: #{$weight};
      font-style: normal;
    }
    @if $italic {
      @font-face {
        font-family: "#{$font}";
        @if $woff2 {
          src: url('#{$path}/#{$font}/#{$font}-#{$weight}-italic-webfont.woff2') format('woff2'),
          url('#{$path}/#{$font}/#{$font}-#{$weight}-italic-webfont.woff') format('woff'),
          url('#{$path}/#{$font}/#{$font}-#{$weight}-italic-webfont.ttf') format('truetype');
        }
        @else {
          src: url('#{$path}/#{$font}/#{$font}-#{$weight}-italic-webfont.woff') format('woff'),
          url('#{$path}/#{$font}/#{$font}-#{$weight}-italic-webfont.ttf') format('truetype');
        }
        font-weight: #{$weight};
        font-style: italic;
      }
    }
  }
}

@mixin sz($width, $height: null) {
  width: $width;
  @if $height  {
    height:$height;
  }
  @else {
    height:$width;
  }
}

@mixin hardware-acclerate() {
  // 3D rendering on GPU
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  // fix chrome and safari flicker
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  // webkit-powered
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

//From HTML5UP
/// Makes an element's :before pseudoelement a FontAwesome icon.
/// @param {string} $content Optional content value to use.
/// @param {string} $where Optional pseudoelement to target (before or after).
@mixin icon($content: false,
$where: before) {
  text-decoration: none;
  &:#{$where} {
    @if $content {
      content: $content;
    }
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
}

// @function svg-url($svg) {
//   $svg: str-replace($svg, '"', '\'');
//   $svg: str-replace($svg, '<', '%3C');
//   $svg: str-replace($svg, '>', '%3E');
//   $svg: str-replace($svg, '&', '%26');
//   $svg: str-replace($svg, '#', '%23');
//   $svg: str-replace($svg,
//   '{',
//   '%7B');
//   $svg: str-replace($svg, '}', '%7D');
//   $svg: str-replace($svg, ';', '%3B');
//   @return url("data:image/svg+xml;charset=utf8,#{$svg}");
// }

@mixin forceHardwareAcceleration() {
  // 3D rendering on GPU
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  // fix chrome and safari flicker
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  // webkit-powered
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

// Mixin
@mixin translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}

@mixin transition($transition) {
  transition: all $transition ease;
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}