{{ define "main" }}
<main class="main">
	<article class="content" id="{{.Title | urlize}}">
		<header class="content-header">
			{{- partial "breadcrumb.html" . -}}
			{{- partial "page-title.html" . -}}
			{{- partial "content-header-links.html" . -}}
			{{- partial "tags.html" . -}}
			{{ with .Params.wip}}
			<div class="wip">WIP</div>
			{{ end }}
		</header>
		<div class="body-copy" data-section={{.Section | urlize}}>
		{{- if eq .Section "functions" -}}
			{{- partial "functions-signature.html" . -}}
		{{- end -}}
		{{.Content}}
		</div>
		{{- partial "content-footer.html" . -}}
	</article>
</main>
{{- partial "table-of-contents.html" . -}}
{{ end }}
