html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: $base-line-height-content;
  font-weight: $base-font-weight;
   overflow-x:hidden;
}

body {
  font-size: 93%;
   overflow-x:hidden;
  @include MQ(M) {
    font-size: 97%;
  }
  @include MQ(L) {
    font-size: 100%;
  }
  display: flex;
  flex-direction: column;
}

strong {
  font-weight:$base-font-bold-weight;
  color:$base-font-bold-color;
}

p {
  margin-top: 0px;
  margin-bottom: 1.5em;
  line-height: $base-line-height-content;
}

::-webkit-scrollbar {
  display:none;
}

