@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.eot?12848190');
  src: url('/fonts/fontello/fontello.eot?12848190#iefix') format('embedded-opentype'),
       url('/fonts/fontello/fontello.woff2?12848190') format('woff2'),
       url('/fonts/fontello/fontello.woff?12848190') format('woff'),
       url('/fonts/fontello/fontello.ttf?12848190') format('truetype'),
       url('/fonts/fontello/fontello.svg?12848190#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12848190#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-apple:before { content: '\f179'; } /* '' */
.icon-attach:before { content: '\e814'; } /* '' */
.icon-attention:before { content: '\e815'; } /* '' */
.icon-bash:before { content: '\e808'; } /* '' */
.icon-bitbucket:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-clipboard:before { content: '\f0c5'; } /* '' */
.icon-clock:before { content: '\e817'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-cog-alt:before { content: '\e816'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-discuss:before { content: '\f03d'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-forum:before { content: '\f03d'; } /* '' */
.icon-forums:before { content: '\f03d'; } /* '' */
.icon-freebsd:before { content: '\e800'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-github-alt:before { content: '\f056'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-gitter:before { content: '\e805'; } /* '' */
.icon-golang:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-html:before { content: '\f13b'; } /* '' */
.icon-hugo:before { content: '\e802'; } /* '' */
.icon-javascript:before { content: '\e81d'; } /* '' */
.icon-js:before { content: '\e81d'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-link-external:before { content: '\f08e'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-md:before { content: '\e818'; } /* '' */
.icon-netlify:before { content: '\e80b'; } /* '' */
.icon-next:before { content: '\e81b'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e811'; } /* '' */
.icon-prev:before { content: '\e81c'; } /* '' */
.icon-quote-left:before { content: '\e819'; } /* '' */
.icon-quote-right:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e80d'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-thumbs-down:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-wercker:before { content: '\e809'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */