// @include fonts('muli', $weights: 100 300 400 600 700 800, $italic: true);
@include fonts('robotomono', $weights: 200 300 400 500 700, $italic: false);
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin: 0px;
  line-height: 1.15;
  position: relative;
  > code, > a {
    font-weight: $heading-font-weight;
  }
}

h1.page-title {
  @include MQALL('font-size',1.8em,2.3em);
  line-height: 1.2;
  letter-spacing: -.021em;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: $heading-font-weight;
  @include MQ(M) {
    padding-top: 0px;
  }
  img {
    display: inline;
    @include size(1em);
    margin-right: .15em;
  }
  i[class^="icon-"] {
    margin-left: -.15em;
    margin-right: .15em;
  }
  &.commands,
  &.functions {
    font-family: $code-font-family;
    font-weight: 400;
  }
}

h2,
h3 {
  padding-bottom: 24px;
  // padding-right: 1.5em;
}

h2 {
  @include MQALL('font-size',1.4em,1.6em);
  &.contents-list-heading {
    text-transform: uppercase;
    color: $hugo-gray;
    em {
      font-style: normal;
    }
  }
}

h3 {
  @include MQALL('font-size',1.2em);
}

h4 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: $hugo-gray;
  // text-transform: uppercase;
}

h5 {
  font-size: 1em;
  font-weight: $heading-font-weight;
  margin-bottom: 1em;
  color: $base-font-color;
}

//used throughout the "functions" section to render titles in the base code font family
.functions,
.commands {
  font-family: $code-font-family;
  font-weight: 500;
  color: inherit;
}

//just for function section page titles that include the word "and":
//in templates, a conditional statement checks for section=functions, and if so, replaces "and" in title/linktitle with <em>and</em>
.functions,
.commands {
  > em {
    font-style: normal;
    font-family: $base-font-family;
    padding-left: .25em;
    padding-right: .25em;
    font-size: .8em;
    position: relative;
    margin-bottom: .3em;
  }
}

//keeps index page from taking on code/pre font family
.submenu-item:first-child {
  a.submenu-item-link.functions {
    font-family: $base-font-family;
  }
}

hr {
  border-top: 3px double $base-font-color;
}
