ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top:1em;
  margin-bottom: .5em;
  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float:left;
  li {
    height: 20px;
    line-height: 20px;
    margin-left: 4px;
    margin-bottom: .75em;
    display: flex;
    // &:not(.icon) {
    //   @include card(1, 3);
    // }
    a {
      line-height: 20px;
      align-items: center;
      height: 20px;
      font-size: 14px;
      // color: $base-font-color;
      padding-left: .3em;
      padding-right: .3em;
    }
  }
}
