//From the awesome Chris Coyier here: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.video-wrapper {
  transition: all .3s ease-in-out;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0;
  clear: both;
  cursor: pointer;
  margin-bottom: 1em;
}

.video-wrapper {
  &:hover,
  &:active,
  &:focus {
    filter: grayscale(0%);
    cursor: pointer;
  }
}

.video-wrapper iframe,
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 0em;
}

.video-thumbnail {
  transition: all .3s ease-in-out;
  width: 100%;
  min-height: 100%;
  clear: both;
  display: block;
  z-index: 1;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}

.icon-video-play-button.shortcode {
  font-family: "fontello";
  font-size: 3.8em;
  color: #bb0000;
  border-radius: 30px;
  z-index: 2;
  @include centerer;
  &:hover + .video-thumbnail {
    filter: grayscale(0%);
  }
}

.video-wrapper:after {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.video-description {
  width: 100%;
  text-align: center;
  font-size: .8em;
  margin-top: 0px;
  color: lighten($base-font-color, 15%);
  > p {
    margin-top: 1em;
    font-style: italic;
  }
}
