{{- $resources := .Resources }}
{{- $img := .Image }}
{{- $relPermalink := $img }}
{{- $permalink := $img }}
{{- $url := urls.Parse $img }}
{{- if eq $url.Scheme "" }}
  {{/* Internal image. */}}
  {{- with $resources.GetMatch $img -}}
    {{/* Image resource. */}}
    {{- $relPermalink = .RelPermalink }}
    {{- $permalink = .Permalink }}
  {{- else }}
    {{- $relPermalink = relURL $img }}
    {{- $permalink = absURL $img }}
  {{- end }}
{{- end }}
{{- return dict
  "Image" $img
  "RelPermalink" $relPermalink
  "Permalink" $permalink
}}
