    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Connect. Socialize.</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/SomeSillyUserNameHere/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.facebook.com/SomeSillyUserNameHere" class="btn btn-info btn-xs"><i class="fa fa-facebook-square fa-2x"></i></a>

            <div class="alert alert-info alert-dismissable" style="margin-top:25px;margin-bottom:5px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Hey, listen!</strong><br>
                You should modify the <code>layouts/partials/menu.html</code> template and include your own profile links.
            </div>
        </div>
    </div>
