{{- with .CurrentSection.RegularPages }}
  <h2
    class="text-base font-semibold tracking-tight text-gray-600  dark:text-gray-400">
    {{ "In this section" | title }}
  </h2>
  <div
    class="relative my-2
    after:absolute after:bottom-0 after:left-0 after:w-full after:h-8 after:bg-gradient-to-t after:from-white dark:after:from-blue-950">
    <ul
      id="in-sthis-section"
      class="max-h-96 pb-8 overflow-y-auto"
      data-turbo-preserve-scroll-container="in-this-section">
      {{- range . }}
        <li>
          <a
            class="text-sm {{ if eq . $ }}
              font-bold text-blue-600 focus:font-bold dark:text-blue-200
              hover:text-blue-600 scroll-active
            {{ else }}
              text-blue-600 hover:text-blue-500
            {{ end }}"
            href="{{ .RelPermalink }}"
            >{{ .LinkTitle }}</a
          >
        </li>
      {{- end }}
    </ul>
  </div>
{{- end }}
