main.showcase-list {
  width: 90%;
  max-width: $XL;
  margin-left: auto;
  margin-right: auto;
}

#showcase {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  li.showcase-site {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include card(1);
    margin-bottom: 1.5em;
    @include MQ(M) {
      width: 48%;
    }
    @include MQ(XL) {
      width: 32%;
    }
    .image-wrapper {
      width: 100%;
      max-width: 100%;
      img {
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid lighten($hugo-gray-light, 10%);
      }
    }
    ul.tags {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li {
        margin-bottom: .25em;
        align-self: flex-start;
        width: auto;
        a {
          font-size: 12px;
        }
        &.tags-icon-li {
          box-shadow: none;
        }
      }
    }
    .showcase-meta {
      padding: 10px;
      .showcase-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8em;
        .showcase-source {
          font-size: .8em;
          text-transform: uppercase;
        }
        .showcase-title {
          font-weight:bold;
          a {
            font-weight:bold;
          }
        }
      }
    }
  }
}
