#all-content-wrapper {
  margin-top: $site-header-height;
  z-index: 5;
  transition: all .3s ease-in-out;
  opacity: 1;
  overflow-x: hidden;
  @include MQ(L) {
    margin-left: $site-navigation-width;
  }
  &.navigation-open {
    transition: all .3s ease-in-out;
    transform:translateX(#{$site-navigation-width});
    opacity: .4;
    overflow-x: hidden;
    @include MQ(L) {
      opacity: 1;
      transform: translateX(0px);
      overflow-x: hidden;
    }
  }
}

main.main {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height:calc(100vh - #{$site-header-height * 2});
  @include MQ(XL) {
    width: 100%;
    margin-right: 0px;
    max-width: calc(100vw - #{$site-navigation-width * 2} - 20px);
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }
}

//note: article.content in single pages and div.content in section pages for improved semantics
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $content-max-width;
  @include MQ(L) {
    float:left;
    margin-left:5%;
    margin-right:auto;
  }
  @include MQ(XL) {
    min-width: $content-max-width;
    max-width: 90%;
  }
}

header.content-header {
  display: block;
  clear: both;
  width: 100%;
  position: relative;
  margin-top: 24px;
  overflow-x: hidden;
  margin-bottom: 1em;
}

.content-section-image-wrapper {
  margin-bottom: 1em;
  a {
    display: flex;
    align-items: center;
    color: $base-font-color;
    img {
      width: 20px;
    }
    span {
      font-size: .8em;
      margin-left: .25em;
    }
  }
}

.content-header-links {
  display: none;
  @include MQ(M) {
    display: block;
  }
  position: absolute;
  right: 0px;
  top: 0px;
  text-transform:uppercase;
  width:auto;
  overflow:visible;
  a {
    position: relative;
    border: 1px solid $hugo-gray-light;
    display: inline-block;
    color: $base-font-color;
    padding: 4px 6px;
    vertical-align: middle;
    @include size(36px);
    line-height: 36px;
    text-align: center;
    border-radius: $button-border-radius;
    @include card(1, 3);
    &:hover {
      color: $default-anchor-color;
    }
    i.icon-pencil {
      font-size: 20px;
      position: relative;
      bottom: 4px;
      right: 2px;
    }
    svg {
      height: 24px;
      width: 24px;
      display: inline;
    }
    &.godoc-link {
      border-right-width: 0px;
    }
  }
}

.body-copy {
  margin-top: 0px;
  margin-bottom: 2.5em;
  display: block;
  overflow: visible;
  div + h2 {
    margin-top: 1em;
  }
  em {
    font-weight: bolder;
  }
}
