<link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
<!-- Preconnect API. For browser compatibility, check http://caniuse.com/#feat=link-rel-preconnect -->
<link rel="preconnect" href="{{ .Site.Params.siteaddress }}">
<link rel="canonical" href="{{ .Permalink }}">
{{with .NextInSection }}
<link rel="prefetch" href="{{.Permalink}}">
<link rel="prerender" href="{{.Permalink}}">
{{ end }}
{{with .PrevInSection }}
<link rel="prefetch" href="{{.Permalink}}">
<link rel="prerender" href="{{.Permalink}}">
{{ end }}