<!-- Favicons - go to http://realfavicongenerator.net/ for easy generation after you've designed your logo.-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" href="{{ "images/favicons/favicon-32x32.png" | absURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "images/favicons/favicon-16x16.png" | absURL }}" sizes="16x16">
<link rel="manifest" href="{{ "images/favicons/manifest.json" | absURL }}">
<link rel="mask-icon" href="{{ "images/favicons/safari-pinned-tab.svg" | absURL}}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "images/favicons/favicon.ico" | absURL }}">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="{{ "images/favicons/mstile-144x144.png" | absURL}}">
<meta name="msapplication-config" content="{{ "images/favicons/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#ffffff">