{{$socialimg := add "images/" .Site.Params.defaultsocialimage }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "TechArticle",
    {{ with .Section }}
    "articleSection": "{{ . | title}}",
    {{ end }}
    "headline": "{{.Title}}",
    "name": "{{.Title}}",
    "url": "{{ .Permalink }}",
    "description": "{{.Description}}",
    "mainEntityOfPage": "{{.Permalink}}",
    "datePublished": "{{.PublishDate.Format "2006-01-02"}}",
    "dateModified": "{{.Date.Format "2006-01-02"}}",
    "wordCount": {{.WordCount}},
    "image": {
        "@type": "ImageObject",
        "url": "{{ $socialimg | absURL }}",
        "height": 800,
        "width": 1500
    }
}
</script>
