<!-- Article-namespace metadata for OGP -->
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{.PublishDate.Format "2006-01-02T15:04:05Z07:00"}}" />
<meta property="og:article:modified_time" content="{{.Lastmod}}" />
{{- with .Params.tags -}}
	{{- range . -}}
	<meta property="og:article:tag" content="{{.}}" />
	{{- end -}}
{{- end -}}
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{ .Title }}">
{{$socialimg := add "images/" .Site.Params.defaultsocialimage }}
<meta property="og:image" content="{{ $socialimg | absURL }}">
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1500" />
<meta property="og:image:height" content="800" />
<meta property="og:description" content="{{ .Description }}"/>
<meta property="og:site_name" content="{{ $.Site.Title }}">