{{ define "body" }}
              
<!-- Optional Header Image -->
{{ if .Params.header.image }}
<div class="article-header">
  <img src="{{ .Params.header.image | absURL }}" class="article-banner" itemprop="image">
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}


  {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
   <!-- List pages can get Content and yaml metadata from an _index.md -->
  {{ with .Content }}<div class="article-style" itemprop="articleBody">{{ . }}</div>{{ end }}

  <div class="row">
    <div class="col-11">
    {{ range .Paginator.Pages }}
    <div class="article">
      <h2><a href="{{ .RelPermalink }}">{{if .Params.image }} <img src="{{ .Params.image }}" height="50px"/> {{ end }}{{ .Title }}</a></h2>
    </div>
    {{ end }}
    </div>



{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pager">
    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .Paginator.Prev.URL | relURL }}">&laquo; Previous</a></li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li><a href="{{ .Paginator.Next.URL | relURL }}">Next &raquo;</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}

  <br />  
</div>
{{end}}