{{ define "__h_simple_css" }}{{/* These template definitions are global. */}}
{{/* TODO(bep) rename this to Youtube something. We need to add these per service. */}}
{{ if not (.Page.Scratch.Get "__h_simple_css") }}
{{/* Only include once */}}
{{  .Page.Scratch.Set "__h_simple_css" true }}
<style>
.__h_youtube {
   position: relative;padding-bottom: 56.23%;height: 0;
   overflow: hidden;
   max-width: 100%;
   background: #000;
   margin: 5px;
}
.__h_youtube img {
   max-width: 100%;
   height:auto;
   color: #000;
}
.__h_youtube .play {
   height: 72px;
   width: 72px;
   left: 50%;
   top: 50%;
   margin-left: -36px;
   margin-top: -36px;
   position: absolute;
   cursor: pointer;
}
</style>
{{ end }}
{{ end }}

{{- define "__h_simple_icon_play" -}}
M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z
{{- end -}}
