/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Full Page Image Header Area */

.header {
    display: table;
    height: 70%;
    width: 100%;
    min-height: 70%;
    position: relative;
    background: url(../img/converse-fields.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99999;
    background-color: black;
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../img/converse-fields-mini.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../img/converse-fields-long.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}

.header .btn {
    margin: 10px;
}

#main {
    z-index: 99999;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header h4, .header h3, .header h2, .header h1 {
    color: white;
    text-shadow: black 1px 1px 3px;
}

.header h4 {
    text-shadow: black 1px 3px 3px;
    font-weight: 100;
}

.header h2 {
    font-weight: 200;
}

.header h1 {
    font-weight: 500;
}

.header .btn {
    font-weight: 100;
}

/* Intro */

.counterpoint {
    padding: 50px 0;
    background-color: white;
}

.point {
    background: rgb(22, 203, 230);
    padding: 50px 0;
    color: #ffffff;
}

.point-item {
    margin-bottom: 15px;
}

i.callout-icon, i.point-icon, i.lead-icon {
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

i.lead-icon {
    border: 3px solid #222;
}

i.point-icon, i.callout-icon {
    border: 3px solid #ffffff;
}

i.lead-icon:hover {
    color: #fff;
    border: 3px solid black;
    background: black;
}

i.point-icon:hover {
    color: rgb(22, 203, 230);
    border: 3px solid #fff;
    background: #fff;
}

a:hover {
    color: rgb(52, 73, 94);
}


i.service-icon:hover {
    font-size: 68px;
}

.icon-2x {
    font-size: 200%;
}

/* Callout */

.callout {
    color: #ffffff;
    display: table;
    height: 420px;
    width: 100%;
    background-color: rgb(47, 197, 47);
    padding: 50px 0;
    color: #ffffff;
}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; font-size:28px; padding: 1.7em 3em 0 3em; font-weight:200; }
.banner ul li { float: left; }

.banner blockquote {
    border-left: 0;
    font-size: 20px;
    font-weight:100;
}

.banner blockquote p {
    font-size: 34px;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

.banner blockquote > a {
    display: block;
}

i.callout-icon:hover {
    color: rgb(47, 197, 47);
    border: 3px solid #fff;
    background: #fff;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 25px;
}

.img-portfolio {
    margin: 0 auto;
}


/* Call to Action */

.call-to-action {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.19);
    padding: 50px 0;

}

#action {
    background: url(/static/img/gray.png);
    padding: 50px 0px 30px;
    position: fixed;
    bottom: 130px;
    z-index: 99998;
    width: 100%;
}

#footerSpacer {
    display: block;
    min-height: 310px;
    background-color: rgba(0, 0, 0, 0);
}

#footer {
    bottom: 0px;
    left: 0px;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    font-size: 14px;
    z-index: 99998;
    background: rgb(255, 255, 255);
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: none;
}

div.point a {
    color: #0a5175;
}

/* Bootstrap Addons */


.btn-clear {
    color: #444;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #FFF;
}

.btn-clear:hover,
.btn-clear:focus,
.btn-clear:active,
.btn-clear.active,
.open .dropdown-toggle.btn-clear {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-clear:active,
.btn-clear.active,
.open .dropdown-toggle.btn-clear {
    background-image: none;
}
