body {
    background-color: rgb(253, 253, 251);
    padding-top: 70px;
    letter-spacing: 0.3px;
    font-family: "Helvetica Neue", "Helvitica", "Serif";
    font-weight: 300;
}

p {
    margin: 0 0 2em;
}

#main.container {
    font-size: 21px;
    line-height: 175%;
}


h1, h2, h3 {
    padding-bottom: .3em;
    padding-top: 1.4em;
    margin-bottom: .7em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(25,71,86);
    font-family: 'Cabin', "Helvetica Neue", "Helvitica", "Serif";
}

h1 {
    font-size: 46px;
    padding-top: .3em;
}

h1, h2 {
    border-bottom: 1px solid #CCC;
}

pre {
    background-color: #022b34;
    color: #e6e6e6;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 17px;
    line-height: 1.2;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

a {
    color: #2b91ae;
}

a:hover {
    color: rgb(15, 166, 188);
}

#footer {
    margin-bottom: 2em;
}

nav.navbar {
    background: none repeat scroll 0% 0% rgb(96,210,211);
    border-top: 4px solid rgb(15, 166, 188);
    border-bottom: 1px solid rgb(15, 166, 188);
    opacity: .97;
}

.navbar-nav a > i {
    font-size: 140%;
    line-height: 49%;
    vertical-align: -4px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white !important;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgb(15, 166, 188);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: 0px none;
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(15, 166, 188);
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        background-color: rgb(15, 166, 188);
    }
}


.highlight {
    background-color: #fdfdfb !important;
}

#toc {
    float: right;
    margin-left: 1em;
    padding: 1em;
}

#TableOfContents > ul {
    margin-left: -1em;
    padding: 0;
}

#TableOfContents>ul>li {
   list-style: none outside none;
}

#TableOfContents > ul > li > a {
    padding-left: 1em;
}

#main table{width:100%;margin-bottom:20px;}#main table thead>tr>th,#main table tbody>tr>th,#main table tfoot>tr>th,#main table thead>tr>td,#main table tbody>tr>td,#main table tfoot>tr>td{padding:8px;line-height:1.428571429;vertical-align:top;border-top:1px solid #dddddd;}
#main table thead>tr>th{vertical-align:bottom;border-bottom:2px solid #dddddd;}
#main table caption+thead tr:first-child th,#main table colgroup+thead tr:first-child th,#main table thead:first-child tr:first-child th,#main table caption+thead tr:first-child td,#main table colgroup+thead tr:first-child td,#main table thead:first-child tr:first-child td{border-top:0;}
#main table tbody+tbody{border-top:2px solid #dddddd;}
#main table #main table{background-color:#ffffff;}
#main table>tbody>tr:nth-child(odd)>td,#main table>tbody>tr:nth-child(odd)>th{background-color:#f9f9f9;}
#main table>thead>tr>td.active,#main table>tbody>tr>td.active,#main table>tfoot>tr>td.active,#main table>thead>tr>th.active,#main table>tbody>tr>th.active,#main table>tfoot>tr>th.active,#main table>thead>tr.active>td,#main table>tbody>tr.active>td,#main table>tfoot>tr.active>td,#main table>thead>tr.active>th,#main table>tbody>tr.active>th,#main table>tfoot>tr.active>th{background-color:#f5f5f5;}
#main table>thead>tr>td.success,#main table>tbody>tr>td.success,#main table>tfoot>tr>td.success,#main table>thead>tr>th.success,#main table>tbody>tr>th.success,#main table>tfoot>tr>th.success,#main table>thead>tr.success>td,#main table>tbody>tr.success>td,#main table>tfoot>tr.success>td,#main table>thead>tr.success>th,#main table>tbody>tr.success>th,#main table>tfoot>tr.success>th{background-color:#dff0d8;border-color:#d6e9c6;}
#main table>thead>tr>td.danger,#main table>tbody>tr>td.danger,#main table>tfoot>tr>td.danger,#main table>thead>tr>th.danger,#main table>tbody>tr>th.danger,#main table>tfoot>tr>th.danger,#main table>thead>tr.danger>td,#main table>tbody>tr.danger>td,#main table>tfoot>tr.danger>td,#main table>thead>tr.danger>th,#main table>tbody>tr.danger>th,#main table>tfoot>tr.danger>th{background-color:#f2dede;border-color:#eed3d7;}
#main table>thead>tr>td.warning,#main table>tbody>tr>td.warning,#main table>tfoot>tr>td.warning,#main table>thead>tr>th.warning,#main table>tbody>tr>th.warning,#main table>tfoot>tr>th.warning,#main table>thead>tr.warning>td,#main table>tbody>tr.warning>td,#main table>tfoot>tr.warning>td,#main table>thead>tr.warning>th,#main table>tbody>tr.warning>th,#main table>tfoot>tr.warning>th{background-color:#fcf8e3;border-color:#fbeed5;}
@media (max-width:768px){#main table{width:100%;margin-bottom:15px;overflow-y:hidden;overflow-x:scroll;border:1px solid #dddddd;}#main table>#main table{margin-bottom:0;background-color:#fff;}#main table>#main table>thead>tr>th,#main table>#main table>tbody>tr>th,#main table>#main table>tfoot>tr>th,#main table>#main table>thead>tr>td,#main table>#main table>tbody>tr>td,#main table>#main table>tfoot>tr>td{white-space:nowrap;} }fieldset{padding:0;margin:0;border:0;}
