body { padding-top: 70px; }

body {
    background-color: rgb(253, 253, 251);
}


h1, h2, h3 {
    color: rgb(25,71,86);
}

a {
    color: rgb(0,140,158);
}

a:hover {
    color: rgb(21,201,239);
}

#footer {
    margin-bottom: 2em;
}

nav.navbar {
    background: none repeat scroll 0% 0% rgb(22, 203, 230);
    border-top: 4px solid rgb(15, 166, 188);
    border-bottom: 1px solid rgb(15, 166, 188);
    opacity: .9;
}

.navbar-nav a > i {
    font-size: 140%;
    line-height: 49%;
    vertical-align: -4px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white !important;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgb(15, 166, 188);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: 0px none;
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(15, 166, 188);
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        background-color: rgb(15, 166, 188);
    }
    nav.navbar {
        opacity: 0.98;
    }
}

