{{ define "main" }}
<main class="main">
	<div class="content">
	<header class="content-header">
			<h1 class="page-title"><i class="icon-{{.Data.Plural}}"></i> {{.Data.Plural}}</h1>
		</header>
		<div class="body-copy taxonomies">
			{{ $data := .Data }}
			{{ $dataPlural := .Title | urlize}}
			{{ $base := $.Site.BaseURL }}
			<table class="terms-table">
				<thead>
					<tr>
						<th>Term</th>
						<th>Count</th>
					</tr>
				</thead>
			<tbody>
			{{ range $key, $value := .Data.Terms.Alphabetical }}
			<tr>
				<td><a href="{{ $base }}{{ $dataPlural }}/{{$value.Name | urlize}}">{{ $value.Name }}</a></td>
				<td>{{ $value.Count }}</td>
			</tr>
	    {{ end }}
	    </tbody>
	    </table>
		</div>
	</div>
</main>
{{ end }}