<a href="{{.Permalink}}" class="b--moon-gray ba bg-animate bg-white flex-auto hover-bg-near-white mb3 mr3 w-100 w-40-l">
  <div class="flex flex-column black h-100 mb2 pa3 pa4-l">
    {{with .Params.images}}
    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI5MDAiIHZpZXdCb3g9IjAgMCAxNjAwIDkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGU+UmVjdGFuZ2xlPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBpZD0iUmVjdGFuZ2xlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI5MDAiLz48L2c+PC9zdmc+" data-src="{{index . 0}}" class="grow img lazyload" />
    {{end}}
    <div style="margin-top:auto;">{{/* the margin aligns to the bottom */}}
      <h2 class="dib f3 mt4">
        {{- .Title -}}
      </h2>
    </div>
  </div>
</a>
