#homepage-nav {
  transition: box-shadow .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  min-height: 50px;
  max-height: 50px;
  background-color: $hugo-white;
  &.shadow {
    transition: box-shadow .2s ease-in-out;
    @include card(1);
  }
}

ul.animated {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 400px;
  min-width: 240px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include MQ(M) {
    min-width: 320px;
  }
  li {
    display: flex;
    a {
      color: $hugo-gray;
      &:hover {
        color: $hugo-pink;
      }
    }
  }
}

#all-content-wrapper.home {
  margin-left: 0px;
  margin-top: 0px;
  @include MQ(M) {
    margin-left: 0px;
  }
  main#homepage.main {
    margin-left: 0px;
    width: 100vw;
    min-width: 100vw;
  }
}

//fixes search icon and sliding bar on homescreen only
#homepage-nav + #toggle-search {
  right: 1em;
  top: .25em;
  + #site-search-form {
    @include MQ(L) {
      right: .6em;
    }
  }
}

.home-row {
  min-height: auto;
  display: flex;
  // flex-wrap: wrap;
  &.hero {
    margin-top: 50px;
    min-height: auto;
    flex-direction: column;
    align-items: center;
    &.animated {
      opacity: 0;
    }
  }
  &:nth-child(2) {
    background-color: darken($hugo-gray-ultra-light, 3%);
  }
  &:nth-child(3) {
    background-color: $hugo-white;
  }
  &.install {
    background-color: $base-font-color;
  }
  &:nth-child(5) {
    background-color: $hugo-blue;
  }
}

.homepage-icon {
  display: block;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 540px;
  margin-top: 5em;
  margin: {
    right: auto;
    left: auto;
  }
}

.get-started {
  .button.xl {
    display: block;
    margin-top: 1.5em;
    font-size: 1.3em;
    padding-right: 1em;
    padding-left: 1em;
    width: auto;
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
    // background-color: rgb(140,197,231);
  }
  margin-bottom:5em;
}

.hero-tagline {
  color: $hugo-gray;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.3;
  font-weight: $base-font-weight;
  margin-top: 1.5em;
  font-style: normal;
  max-width: 90%;
  @include MQ(M) {
    font-size: 1.5em;
  }
}

.home-row-content {
  display: flex;
  flex-wrap: wrap;
  max-width: $L;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 90%;
  h2 {
    text-align: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    span {
      font-size: .7em;
      font-weight: 300;
      color: lighten($base-font-color, 20%);
    }
  }
  @include MQ(M) {
    flex-wrap: nowrap;
  }
  @include MQ(XL) {
    justify-content: space-around;
  }
  &.first-fade {
    opacity: 0;
  }
}

.home-row-content-focus {
  display: flex;
  .half.half-content {
    order: 2;
    @include MQ(M) {
      order: 1;
    }
  }
  .focus-svgs {
    order: 1;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    @include MQ(M) {
      max-width: 48%;
      order: 2;
    }
    svg {
      max-width: 48%;
    }
  }
  #content-halo {
    fill: $hugo-blue!important;
  }
}

.home-row-content-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  .home-row-content-feature {
    margin-bottom: 2em;
    max-width: $L * .31;
    h3 {
      margin-bottom: .2em;
      padding-bottom: 0px;
      font-weight: 500;
      border-bottom: 1px solid white;
      font-size: 1.1em;
    }
    .homepage-feature-content {
      color: lighten($base-font-color, 20%);
      font-weight: 300;
      line-height: 1.3;
      font-size: .9em;
      p {
        color: lighten($base-font-color, 30%);
      }
      //corrects odd spacing in "Cross-platform" block in "What Makes Hugo Special" features row....
      code {
        &:first-child {
          margin-right: .25em;
        }
      }
    }
  }
}

.half {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  @include MQ(L) {
    width: $L * .4;
    max-width: $L * .4;
  }
}

.half.half-content {
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  h2 {
    width: 100%;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    // margin-top: 40px;
    @include MQ(M) {
      margin-top: 0px;
    }
  }
  p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  hr,
  .hr {
    border: 0;
    height: 1px;
    opacity: 1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 100%;
    margin: {
      bottom: 2.5em;
      top: 2.5em;
    }
  }
}

.homepage-terminal {
  font-family: $code-font-family;
  background-color: $hugo-gray;
  padding: 1em 1.5em;
  text-align: left;
  width: 110%;
  position: relative;
  left: -5%;
  max-width: 360px;
  @include MQ(M) {
    width: 100%;
    left: auto;
  }
  @include card(2);
  border-radius: 5px;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  margin-bottom: 0px;
  color: transparent;
  span {
    color: transparent;
  }
  .blast {
    color: $hugo-white;
  }
}

.svgs {
  display: flex;
  justify-content: space-around;
  position: relative;
  // opacity: 0;
  svg,
  .img-wrapper {
    max-width: 45%;
    max-width: 140px;
    // min-width: 150px;
    &#markdown {
      margin-top: 30px;
    }
  }
  @include MQ(L) {
    margin-top: 3.5em;
  }
}

#hugopher-front {
  width: 300px;
  position: relative;
  .eye {
    animation: squeeze 2.4s infinite;
  }
}

.gopher-badge {
  opacity: 0;
  width: 50px;
  position: absolute;
  top: 24px;
}

.gopher-cape {
  opacity: 0;
}

svg {
  .cape {
    // opacity: 0;
  }
}

.eyes {
  animation: squeeze 2.4s infinite;
}

@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(70px) scaleY(.1);
  }
  100% {
    animation-timing-function: ease-out;
  }
}

.home-row-content-install {
  color: $hugo-white;
  .platform-icons {
    display: flex;
    width: 100%;
    color: $hugo-white;
    justify-content: space-between;
    i {
      font-size: 40px;
      @include MQ(M) {
        font-size: 60px;
      }
    }
  }
}

.home-row-content-tweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  h2 {
    color: $hugo-white;
  }
  @include MQ(M) {
    max-width: 640px;
  }
  @include MQ(M) {
    max-width: $L;
  }
}

.homepage-tweet {
  max-width: 300px;
  background-color: $hugo-white;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  i.icon-twitter {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1DA1F2;
  }
  .homepage-tweet-attribution {
    font-style: normal;
    width: 100%;
    display: block;
    font-size: .8em;
    text-align: right;
  }
}

.home-row-content-open-source {
  flex-wrap: wrap;
  div {
    width: 100%;
    text-align: center;
  }
  i.icon-github {
    font-size: 62px;
    @include MQ(M) {
      font-size: 90px;
    }
  }
  i.icon-love {
    color: red;
  }
}

.no-js {
  opacity: 1!important;
}
