{{$kind := .Kind}}
	<div class="all-contents">
{{range .Data.Pages}}
<!-- if statement checks for sitelink. sitelink: is a field in front matter of /content/showcase/*.md) -->
	<a {{with .Params.sitelink }}href="{{.}} "target="_blank"{{else}}href="{{.Permalink}}"{{end}}>
		<section class="contents-list {{$kind}}">
			<header>
				<h3 class="list-icon {{.Section}}">{{.Title | markdownify}}{{with .Params.sitelink }}&nbsp;<i class="icon-link-external" aria-hidden="true"></i>{{end}}</h3>
			</header>
			<p>{{.Description | markdownify }}</p>
		</section>
	</a>
{{end}}
</div>