<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ with .Params.schemaType }}{{ . }}{{ else }}WebPage{{ end }}",

  {{- $title := or .Title site.Title | plainify }}
  "name": "{{ $title }}",

  {{- with or .Description .Summary site.Params.description | plainify | htmlUnescape }}
    "description": "{{ trim . "\n\r\t " }}",
  {{- end }}

  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- with .PublishDate }}
  "datePublished": "{{ .Format $ISO8601 }}",
  {{- end }}
  {{- with .Lastmod }}
  "dateModified": "{{ .Format $ISO8601 }}",
  {{- end }}
  {{- with .WordCount }}
  "wordCount": {{ . }},
  {{- end }}

  {{- $images := partial "_funcs/get-page-images" . }}
  {{- with $images }}
  "image": [
    {{- range $i, $img := first 6 . -}}
      "{{ $img.Permalink }}"{{ if lt (add $i 1) (len (first 6 $images)) }},{{ end }}
    {{- end }}
  ],
  {{- end }}

  {{- /*
  Keywords precedence:

  1. Use "keywords" term page titles.
  2. Use "keywords" from front matter if "keywords" is not a taxonomy.
  3. Use "tags" term page titles.
  4. Use term page titles from all taxonomies.

  */}}
  {{- /* Keywords logic */}}
  {{- $keywords := slice }}
  {{- range .GetTerms "keywords" }}
    {{- $keywords = $keywords | append .Title }}
  {{- else }}
    {{- with .Keywords }}
      {{- $keywords = . }}
    {{- else }}
      {{- range .GetTerms "tags" }}
        {{- $keywords = $keywords | append .Title }}
      {{- else }}
        {{- range $taxonomy, $_ := site.Taxonomies }}
          {{- range $.GetTerms $taxonomy }}
            {{- $keywords = $keywords | append .Title }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- with $keywords }}
  "keywords": [
    {{- range $i, $kw := . -}}
      "{{ $kw }}"{{ if lt (add $i 1) (len $keywords) }},{{ end }}
    {{- end }}
  ],
  {{- end }}
}
</script>
