//clear nav lists
nav,
aside {
  ul,
  ol {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    text-indent: 0px;
    li {
      margin-left: 0px;
      padding-left: 0px;
      list-style: none;
    }
  }
}

//sets list style in body copy
.body-copy {
  ul,
  ol {
    padding-left: .75em;
    margin-left: .25em;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 1.5em;
    li {
      ul,ol {
        margin-bottom:0px;
      }
    }
  }
  ul {
    list-style: disc outside none;
    li {
      ul {
        list-style-type: circle;
        li {
          ul {
            list-style-type: square;
          }
        }
      }
    }
  }
  ol {
    li {
      ol {
        list-style-type: lower-roman;
        li {
          ol {
            list-style-type: lower-alpha;
          }
        }
      }
    }
  }
}
