aside#toc {
  position: fixed;
  max-width: 280px;
  min-width: 200px;
  overflow-y: auto;
  padding: .5em;
  bottom: 20px;
  right: 20px;
  height:auto;
  @include card(1);
  z-index: 30;
  background-color: $toc-bg-color;
  transform: scale(0);
  transform-origin: bottom right;
  opacity: 0;
  border-radius: 5px;
  &.toc-open {
    transform: scale(1);
    opacity: 1;
  }
  h3 {
    margin-bottom: 0px;
    margin-left: 8px;
    padding-bottom: 0px;
    border-bottom: 1px solid $base-font-color;
    color: $base-font-color;
    font-size: 17px;
  }
  @include MQ(XL) {
    box-shadow: none;
    top: $site-header-height + 20px;
    left: calc(#{$site-navigation-width} + #{$content-max-width} + 48px);
    bottom: auto;
    opacity: 1;
    transform: scale(1);
  }
}

nav#TableOfContents {
  float: left;
  position:relative;
  overflow-y: scroll;
  margin-bottom:20px;
  > ul:first-child {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: .5em;
    margin-bottom: .5em;
    > li {
      padding-left: 0px;
      margin-left: 0px;
      font-size: 18px;
    }
  }
  ul > li > ul {
    li {
      line-height: 1.2;
      font-size: .85em;
      padding-left: 8px;
      position: relative;
      margin-top: .5em;
      margin-bottom: .5em;
      a {
        color: $base-font-color;
        position: relative;
        &:hover {
          color: $hugo-pink;
          &::before {
            content: '';
            display: inline-block;
            height: 100%;
            border-left: 1px solid $hugo-pink;
            position: absolute;
            left: -8px;
          }
        }
      }
      &.active {
        > a {
          position: relative;
          color: $hugo-pink;
          font-weight: 400;
          &::before {
            content: '';
            display: inline-block;
            height: 100%;
            border-left: 2px solid $hugo-pink;
            position: absolute;
            left: -8px;
          }
        }
      }
      > ul {
        display: block;
        margin-top: 8px;
        margin-bottom: 0px;
        > li {
          a {
            &:hover {
              color: $hugo-blue;
              &::before {
                content: '';
                display: inline-block;
                height: 100%;
                border-left: 1px solid $hugo-blue;
                position: absolute;
                left: -16px;
              }
            }
          }
          &.active {
            > a {
              color: $hugo-blue;
              font-weight: 400;
              &::before {
                border-left: 2px solid $hugo-blue;
                left: -16px;
              }
            }
          }
          ul {
            display:none;
          }
        }
      }
    }
  }
}

a#toc-toggle {
  display: none;
}

aside#toc + a#toc-toggle {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $toc-bg-color;
  color: $hugo-white;
  background-color: $hugo-pink;
  @include size(40px);
  z-index: 99;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  &:after {
    // content:'ToC';
    content: '\2026';
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 2em;
    line-height: 40px;
    bottom: 10px;
  }
  &.toc-open {
    box-shadow: none;
    background-color: $toc-bg-color;
    color: $base-font-color;
    &::after {
      content: "\00D7";
      font-size: 2em;
      bottom: 0px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  @include card(2, 5);
  @include MQ(XL) {
    display: none;
  }
}
