
/* muli-900normal - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('/files/muli-latin-900.eot'); /* IE9 Compat Modes */
  src:
    local('Muli Black '),
    local('Muli-Black'),
    url('/files/muli-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/files/muli-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/files/muli-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/files/muli-latin-900.svg#muli') format('svg'); /* Legacy iOS */
}

/* muli-900italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 900;
  src: url('/files/muli-latin-900italic.eot'); /* IE9 Compat Modes */
  src:
    local('Muli Black italic'),
    local('Muli-Blackitalic'),
    url('/files/muli-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/files/muli-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('/files/muli-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('/files/muli-latin-900italic.svg#muli') format('svg'); /* Legacy iOS */
}
