
//Config
$usefontawesome: false;

//Media Query Values
$S:480px;
$SM: 560px;
$M:760px;
$L:960px;
$XL:1200px;
$HUGE:1600px;

//Color Palette
$hugo-black:#000000;
$hugo-white:#ffffff;
$hugo-pink:#C9177E;
$hugo-pink-light:#ff4088;
$hugo-blue:#0083C0;
$hugo-blue-light:#0594CB;
$hugo-blue-ultra-light:#D1F1FE;
$hugo-yellow:#FCD804;
$hugo-gold:#EBB951;
$hugo-gray:#737373;
$hugo-gray-dark:darken($hugo-gray, 10%);
$hugo-gray-light:lighten($hugo-gray, 30%);
$hugo-gray-ultra-light:lighten($hugo-gray-light, 22%);
$hugo-green:#00A88A;
$hugo-green-light:#33BA91;

//Examples
$examplesite-example-color:$hugo-pink;
$examplesite-codeblock-shortcode-header-bg-color: $hugo-pink;
$input-example-color:$hugo-gray-dark;
$output-example-color:$hugo-blue;

//Document Body
$body-bg-color:$hugo-white;

//Typography
$base-font-size: 18px;
$base-font-color: #222222;
$base-line-height-content: 1.6;
$base-font-bold-color: $base-font-color;
$systemfonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbols";

// Font Families
// $base-font-family: 'museo-sans','muli',$helvetica;
$base-font-family: 'muli',$helvetica;
$heading-font-family: $base-font-family;
$code-font-family:'robotomono',courier,monospace;

// Font Weights
$base-font-weight: 400;
$base-font-bold-weight: 700;
$heading-font-weight: 600;
$code-font-base-weight: 400;
$code-font-bold-weight: 500;

//Anchors (in body copy)
$default-anchor-color:$base-font-color;
$default-anchor-underline-color:$hugo-pink;
$default-anchor-weight: $base-font-weight;
$active-color: $default-anchor-color;

//Buttons
$base-button-color: $hugo-blue;
$base-button-text-color: $hugo-white;
$button-border-radius: 3px;

//Codeblocks

$code-tooltip-bg-color: $hugo-blue;
$code-block-base-font-color: $hugo-black;
$code-editor-header-base-bg-color: $input-example-color;
$code-filename-color:#ffffff;
$code-copy-button-color:#ffffff;
$code-copy-button-text-color:$base-font-color;
$code-base-font-color:$hugo-pink-light;
$inline-code-text-color:$base-font-color;
$inline-code-background-color:darken($hugo-gray-ultra-light,1%);
$code-block-background-color: $inline-code-background-color;

//Sidebar & Breadcrumb
$site-navigation-width: 250px;
$content-max-width: 90%;
$site-navigation-bg-color:$hugo-gray-ultra-light;
$breadcrumb-navigation-bg-color:$hugo-blue-ultra-light;
$breadcrumb-navigation-bg-color-active:$hugo-blue;
$breadcrumb-navigation-text-color-active:$hugo-white;

//Headers
$site-header-height:50px;

//Toc
$toc-bg-color:$body-bg-color;

//Footers
$site-footer-bg-color:$hugo-black;
$site-footer-height-l-plus: 140px;

//Tags
$tag-bg-color:$hugo-gray-ultra-light;

//Brand Colors:
$html: #E44D26;
$css: #1758A7;
$sass: #CF649A;
$golang: #69D7E2;
$javascript: #F0DB4F;

//Homepage, using BULMA: http://bulma.io/
// Override variables here
// You can add new ones or update existing ones:

$blue: $hugo-blue;
$pink: $hugo-pink;
$family-serif: "Georgia", serif;


// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

$family-primary: $family-serif;