@import 'bourbon/bourbon';
@import 'vendor/flexboxgrid';

//variables and abstracts
@import 'variables';
@import 'abstracts/mixins';
@import 'abstracts/mediaqueries';
@import 'abstracts/functions';

//base styles
@import 'base/normalize';
@import 'base/base';
@import 'base/fontello';
@import 'base/fontawesome';
@import 'base/typography';

//components
@import 'components/buttons';
@import 'components/lists';
@import 'components/anchors';
@import 'components/images';
@import 'components/admonitions';
// @import 'vendor/highlightjs-OLD';
@import 'vendor/highlightjs';
// @import 'components/code-OLD';
@import 'components/code';
@import 'components/icons';
@import 'components/tags';
@import 'algolia/main';
@import 'components/site-search';
@import 'components/keyboard';
@import 'components/table-of-contents';
@import 'components/contents-list';
@import 'components/content-footer.scss';
@import 'components/blockquotes';
@import 'components/breadcrumb';
@import 'components/tables';
@import 'components/shortcode-examples';
@import 'components/gopher';

//vendor
@import 'vendor/featherlight';
@import 'vendor/animate';

//major layout parts/chrome
@import 'layout/site-header';
@import 'layout/site-navigation';
@import 'layout/site-content';
@import 'layout/showcase';
@import 'layout/site-footer';

//styles for individual pages
// @import 'pages/homepage';
@import 'pages/homepage';
@import 'pages/commands';

@import 'temp';