<table class="utils-table">
<thead>
	<tr>
		<td>Title</td>
		<td>Section</td>
		<td>Aliases</td>
	</tr>
</thead>
<tbody>
	{{$ghrepo := add $.Site.Params.ghdocsrepo "content/"}}
	{{ range $.Site.Pages.ByTitle }}
		{{if .Aliases }}
		{{$section := replace .Section "-" " " | title}}
		<tr>
		<td>{{.Title}} <a href="{{.Permalink}}" title="See Web Page"><i class="fa fa-file-o" aria-hidden="true"></i></a> <a href="{{$ghrepo}}{{.File.Path}}" title="See Source" target="_blank"> <i class="fa fa-code" aria-hidden="true"></i></a></td>
		<td>{{$section}}</td>
		<td><code>{{ delimit .Aliases ", " }}<code></td>
		{{end}}
		</tr>
	{{end}}
</tbody>
</table>