<!-- {{/*
Insert `.Content` from a (headless) bundle; you can insert `.Content` from multiple page resources of the same bundle by specifying `glob`

Usage: {{< getcontent path="PATH/TO/FILE" >}}
       {{< getcontent path="PATH/TO/BUNDLE/" glob="*_PATTERN.md" >}}
*/}} -->
{{- $path := .Get "path" -}}
{{ $glob := .Get "glob" -}}

{{ $scratch := newScratch -}}
{{ with $glob -}}
  {{ $bundle := site.GetPage $path -}}
  {{ $scratch.Set "resources" ($bundle.Resources.Match $glob) -}}
{{ else -}}
  {{ $bundle := site.GetPage (path.Dir $path) -}}
  {{ $scratch.Set "resources" ($bundle.Resources.Match (path.Base $path)) -}}
{{ end -}}

{{ range ($scratch.Get "resources") -}}
  {{ .Content }}
{{ end -}}
