<!-- {{/*
Insert `.Content` from a (headless) bundle. You can insert `.Content` from multiple page resources of the same bundle by specifying `glob`.

Usage: {{< getcontent path="PATH/TO/FILE" >}}
       {{< getcontent path="PATH/TO/BUNDLE/" glob="*_PATTERN.md" >}}
*/}} -->
{{- $path := .Get "path" -}}
{{ $glob := .Get "glob" -}}

{{ $resources := slice -}}
{{ with $glob -}}
  {{ $bundle := site.GetPage $path -}}
  {{ $resources = $bundle.Resources.Match $glob -}}
{{ else -}}
  {{ $bundle := site.GetPage (path.Dir $path) -}}
  {{ $resources = $bundle.Resources.Match (path.Base $path) -}}
{{ end -}}

{{ range $resources -}}
  {{ .Content }}
{{ end -}}
