{{- /*
Renders a link to the glossary entry for the given term.

It first checks for the existence of a glossary page for the given term. If no
page is found, it then checks for a glossary page for the singular form of the
term. If neither page exists, the shortcode raises an error.

The rendered link displays the given term as the link text. However, the link
itself does not point directly to the glossary term page. Instead, via its
fragment, it points to an entry on the glossary page.

@param {string} (.Get 0) The glossary term.
@returns {template.HTML}

@example {{% gl float %}}
@example {{% gl "floating point" %}}
*/}}

{{- with $termGiven := .Get 0 }}
  {{- $basePath := "/getting-started/glossary" }}
  {{- $termActual := "" }}
  {{- $termSingular := inflect.Singularize $termGiven }}

  {{- with $gp :=site.GetPage $basePath }}

    {{- /* Validate the given term using its singular and plural forms. */}}
    {{- if site.GetPage (urls.JoinPath $basePath ($termGiven | urlize)) }}
      {{- $termActual = $termGiven }}
    {{- else if site.GetPage (urls.JoinPath $basePath ($termSingular | urlize)) }}
      {{- $termActual = $termSingular}}
    {{- else }}
      {{- errorf "The glossary link (%s) shortcode was unable to find a defintion for either the singular or plural form of the term %q: see %s" $.Name $termGiven  $.Position }}
    {{- end }}

    {{- /* Render the link. */}}
    {{- if $termActual }}
      {{- $href := fmt.Printf "%s#%s" $gp.RelPermalink (anchorize $termActual) }}
[{{ $termGiven }}]({{ $href }}){{/* Do not indent. */}}
    {{- end }}

  {{- else }}
    {{- errorf "The glossary link (%s) shortcode was unable to find %s: see %s" $.Name $basePath $.Position }}
  {{- end }}
{{- else }}
  {{- errorf "The glossary link (%s) shortcode requires one positional parameter: see %s" $.Name $.Position }}
{{- end -}}
