{{ $nombre_md := .Get 0 }}

<h3><i>Here are the latest {{ $nombre_md }} changes.</i></h3>

<table >
    <thead>
        <tr>
            <th>Date</th>
            <th>Direct access</th>
            <th>Location</th>
            <th>Commit message</th>
        </tr>
    </thead>

    <tbody>
    <!-- this may be need some tweeking -->
    {{ range first $nombre_md (sort .Site.RegularPages.ByLastmod ".Lastmod" "desc") }}

    <tr>
        <time datetime="{{ ".Lastmod" }}">
            <td>{{.Lastmod.Format "Jan, 02 2006"}}</td>
        </time>
        <td>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </td>
        <td>{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }} {{ $url }}</td>
        <td>TODO : can't succed to have .GitInfo. It is nil </td>
    </tr>
    {{ end }}
    </tbody>
</table>
