/*Base Styles*/
@import '_tachyons';

/*type*/
@import 'font/_muli-200';
@import 'font/_muli-400';
@import 'font/_muli-800';

@import '_anchorforid';
@import '_animation';
@import '_documentation-styles';

@import '_algolia';
@import '_carousel';
@import '_code';
@import '_tabs';
@import '_color-scheme';
@import '_columns';
@import '_content';
@import '_content-tables';
@import '_definition-lists';
@import '_fluid-type';
@import '_font-family';
/*@import '_hljs';*/
@import '_hugo-internal-template-styling';
@import '_no-js';
@import '_social-icons';
@import '_stickyheader';

@import '_svg';
@import '_chroma';
@import '_variables';

.nested-blockquote blockquote {
  border-left: 4px solid var(--primary-color);
  padding-left: 1em;
  /*margin: 0;*/
}


.mw-90 {
  max-width:90%;
}
