<!-- Google Tag Manager -->
{{ with .Site.Params.addgtm}}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{.Site.Params.GTMID}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
var localTest = new RegExp(/localhost/i);
var hostName = window.location.hostname;
if (localTest.test(hostName)) {
  console.log("Development, so no Google Tag Manager!");
} else {
  (function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-KLGBLS');
}
</script>
<!-- End Google Tag Manager -->
{{end}}