name: AI Detection
on: [pull_request]
permissions:
  contents: read
  pull-requests: write
jobs:
  detect-ai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: AI Watchdog
        uses: Citric-Sheep/ai-watchdog@0db4a635d309db0f8d82642130dfc33e91cf33fa # v0.2.3
        with:
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}
